<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        function toggleTodo(id) {
            console.log(id)
            fetch(`/todos/${id}`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    _csrf: token
                })
            })
            .then((res) => {
                if (res.ok){
                  console.log("Hello")
                    window.location.reload();
                }
            })
            .catch((err) => {
                console.log(err);
            })
        }
        function deleteTodo(id){
            fetch(`/todos/${id}`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    _csrf: token
                })
            })
            .then((res) => {
                if (res.ok){
                    window.location.reload();
                }
            })
            .catch((err) => {
                console.log(err);
            })
        }
      </script>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <a href="/signout">Signout</a>
            <form action="/todos" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input type="text" name="title" id="title" placeholder="What's next?" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm">
                    </div>
                    <div class="flex-auto">
                        <input type="date" name="dueDate" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4" />
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="bg-green-600 text-white px-5 py-1 5 rounded font-medium mr-2 mb-2">Add</button>
                    </div>
                </div>
            </form>
            <div>
                <%- include('todo.ejs', {todoTitle: "Overdue", data: overDue, id: "overdue"}) %> 
                <%- include('todo.ejs', {todoTitle: "Due Today", data: dueToday, id: "due-today"}) %>
                <%- include('todo.ejs', {todoTitle: "Due Later", data: dueLater, id: "due-later"}) %>
                <%- include('todo.ejs', {todoTitle: "Completed", data: completedItems, id: "completed-items"}) %>
            </div>
            <div>
                <% if(messages && messages.error && messages.error.length > 0)  { %>
                    <ul class="bg-red-100 rounded border border-red-200 border-2">
                        <% for(var i=0; i<messages.error.length; i++) { %>
                                <li class="text-center"> <%= messages.error[i] %></li>
                        <% } %>
                    </ul>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>